@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:ital,wght@0,400;1,300&family=Roboto:wght@400;500;700&display=swap');

:root {
	--rosa: linear-gradient(to right, #cf3384, #da437f, #e3537c, #ea6377, #ef7377);	
	--filter: linear-gradient(to right, #cf338492, #da437fb0, #e3537cb3, #ea6377b7, #ef7377a3);
	--negro: #000000;
    --azul: #08394E;
    --celeste: #7EC6D6;
    --naranja: #FF8E25;
    --amarilloF: #EEC04B;
    --amarilloC: #EEE8A9;
    --azulTrans: #08394e9f;
	--celesteFran: #5E7DE3;
    --mandarinaSoft: linear-gradient(to right, #eec04b, #f2b63ec0, #f6a83370, #fb9d2b41, #ff8e252d);
    --mandarina: linear-gradient(to right, #eec04b, #f2b63e, #f6a833, #fb9d2b, #ff8e25);
	--font_mont: 'Montserrat', sans-serif;
    --font_popi: 'Poppins', sans-serif;
    --font_robo: 'Roboto', sans-serif;


}


* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
}


/********************************************************************/
/****************         BOTON INICIAR SESION        ***************/
/********************************************************************/

.btn-abrir-popup {
	height: 35px;
	color: #fff;
	background: var(--celesteFran);
	border-radius: 5px;
	transition: .3s ease all;
	cursor: pointer;
	font-family: var(--font_popi);
}

.btn-abrir-popup:hover {
	background: var(--mandarina);
	color: var(--azul);
}


/******************************************************/
/****************         POP UP        ***************/
/******************************************************/


.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay-beta.active,
.overlay.active {
	visibility: visible;
}

.filter-pink {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--filter);
	height: 100vh;
	width: 140vh;
}

.background-image {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100vh;
	width: 140vh;
}


.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(193, 144, 144, 0.3);
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	position: fixed;
	z-index: 1;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 20px;
	opacity: 0;
	display: flex;
	margin-left: 20px;
}


/******************		Inputs		******************/

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs .input-title {
	display: flex;
}




/*Linea de input*/
.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 35px;
	color: rgb(114, 111, 111);
    font-size: 15px;
	background: rgba(0,0,0,0.002);

	height: 20px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;

	border: none;
    border-bottom: solid 1px rgb(180, 180, 180); 
	
}


/*focus de linea de input*/
.popup form .contenedor-inputs input:focus {
    outline: none;

    border-image-source:var(--rosa);
    border-width: 2px;
    border-image-slice: 1;
}



/******************		Buttons		******************/

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: var(--rosa);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;

	margin-top: 15px;
	margin-bottom: 30px;
}

.popup form .btn-submit:hover {
	background: linear-gradient(to right, #ef7377, #ea6377, #e3537c, #da437f, #cf3384);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup-beta.active,
.popup.active {	transform: scale(1); opacity: 1; }


.popup.active h2 { animation: entradaTitulo .8s ease .5s forwards; }


.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}


@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}










#link .link-rememberdats, .link-password {
    color: rgb(114, 111, 111);
    display:inline-block;
	margin-right: 10%;
	margin-bottom: 40px;
	margin-left: 10%;
}

.not-count {
    font-size: 1.2rem;
}

/******************		Estilos de Registro		******************/

.background-conteiner {
    padding: 10px;
    background-image: linear-gradient(135deg, #71b7e6, #9b59b6);
	display: flex;
    justify-content: center;
    align-items: center;
	
    position: fixed;                 
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    visibility: hidden;
   
}

 /*  insertar .overlay.active para activar */

 /*  insertar .filter-pink  para el filtro rosado que esta sobre arriba de la imagen el background del form */


.container-registro {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    
 /*  insertar 

    position: fixed;
	z-index: 1;

    Lo que hace fijar el formulario dentro del background y que quede centrado
 */
}

/*  Insertar cruz para cerrar el formulario
    .popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;

        Cambio de Color
    .popup .btn-cerrar-popup:hover {
	color: #000;
}
}
*/
.container-registro .title, form .gender-details .gender-title  {
    font-size: 25px;
    /* Titulo del registro*/
    margin-bottom: 10px;
}

.container-registro form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

#persona form .user-details .input-box, #empresa form .user-details .input-box {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}


.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

#persona form .gender-details .category {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 14px 0;
}
.gender-details .category label {
    display: flex;
    align-items: center; 
}
.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid  transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one, #dot-2:checked ~ .category label .two, #dot-3:checked ~ .category label .three {
    border-color: #d9d9d9;
    background-color: #9b599b;
}

#persona form input[type="radio"]{
    display: none;
}

#persona form .button, #empresa form .button {
    height: 45px;
    margin: 35px 0 30px 0;
}

#persona form .button input, #empresa form .button input, .container #client button {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background-image: linear-gradient(135deg, #71b7e6, #9b59b6);
    border: none;
    font-size: 18px;
    letter-spacing: 2px;

}
#persona form .button input:hover, #empresa form .button input:hover {
    background-image:linear-gradient(-135deg, #71b7e6, #9b59b6);
    cursor: pointer;
}

@media (max-width: 584px) {
    .container-registro {
        max-width: 100%;
    }
    #persona form .user-details .input-box {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    #persona form .gender-details .category {
        width: 100%;
        
    }
    .container-registro form .user-details {
        max-height: 300px;
        overflow-y: scroll;
        
    }
    .user-details::-webkit-scrollbar {
        width: 13px;
        background-color: #ccc;
    }
    .user-details::-webkit-scrollbar-thumb {
        background-color:#9b59b6;
    }
}
@media (max-width: 440px) {
    #persona form .gender-details .category {
        flex-direction: column;
        height: 90px;
    }
}
.container-registro #client button {
    width: 100px;
    height: 35px;
    border: none;
    font-size: 16px;
    background-image:linear-gradient(-135deg, #71b7e6, #9b59b6);
    padding: 0 10px;
    margin-right: 20px;
    
}
.container-registro #client button:hover {
    cursor: pointer;
}
#persona {
    display: none;
}
#empresa {
    display: none;
}

body #persona form, body #empresa form {
    font-size: 1rem;
}