:root {
	--rosa: linear-gradient(to right, #cf3384, #da437f, #e3537c, #ea6377, #ef7377);
	
	--filter: linear-gradient(to right, #cf338492, #da437fb0, #e3537cb3, #ea6377b7, #ef7377a3);
}


* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
}


/********************************************************************/
/****************         BOTON INICIAR SESION        ***************/
/********************************************************************/

.btn-abrir-popup {
	height: 35px;
	color: #fff;
	background: #5E7DE3;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	transition: .3s ease all;
	cursor: pointer;
}

.btn-abrir-popup:hover {
	background: var(--rosa);
}


/******************************************************/
/****************         POP UP        ***************/
/******************************************************/


.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.filter-pink {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--filter);
	height: 100vh;
	width: 140vh;
}

.background-image {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100vh;
	width: 140vh;
}


.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(193, 144, 144, 0.3);
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	position: fixed;
	z-index: 1;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 20px;
	opacity: 0;
	display: flex;
	margin-left: 20px;
}


/******************		Inputs		******************/

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs .input-title {
	display: flex;
}




/*Linea de input*/
.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 35px;
	color: rgb(114, 111, 111);
    font-size: 15px;
	background: rgba(0,0,0,0.002);

	height: 20px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;

	border: none;
    border-bottom: solid 1px rgb(180, 180, 180); 
	
}


/*focus de linea de input*/
.popup form .contenedor-inputs input:focus {
    outline: none;

    border-image-source:var(--rosa);
    border-width: 2px;
    border-image-slice: 1;
}



/******************		Buttons		******************/

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: var(--rosa);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;

	margin-top: 15px;
	margin-bottom: 30px;
}

.popup form .btn-submit:hover {
	background: linear-gradient(to right, #ef7377, #ea6377, #e3537c, #da437f, #cf3384);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h2 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}


@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}










#link .link-rememberdats, .link-password {
    color: rgb(114, 111, 111);
    display:inline-block;
	margin-right: 10%;
	margin-bottom: 40px;
	margin-left: 10%;
}

.not-count {
    font-size: 1.2rem;
}