* {
    margin: 0px;
    padding: 0px;
}


.imagen-background {
    width: 100%;
    background-size: cover;
    position: absolute;
}

.filter {
    background: red;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 3;
    
}

.box-formmulary {
    margin: 20%;
    background: green;
    position: relative;
    z-index: 3;
}






.formulary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    padding: 10%;
    justify-content: left;
    color: #ffffff;
    font-size: 2rem;
}

input, button {
    font-size: 20px;
    margin:10px;
}