.news{
    width:100%;
    height: 800px;
}

.news .title{
    margin: 70px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 6px rgb(29, 28, 26);
    border-top: 1px solid white;
    
    
}

.title h2{
    text-align: center;
    padding-top: 50px;
    


}

div .news-list{
    max-width: 80vh;
    height: 650px;
  
}


.news-list{
    margin: 0 auto;
    width: 85vw;
    max-height: 600vh;
    background-color:rgb(205, 231, 235) ;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
   
    
    
    border-radius: 1.5%;
    box-shadow:-5px 4px 5px slategray;
}
    

.news-list h2{
    margin-top: 30px;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    

}

.news-list article {
    
    width: 500px;
    height: 500px;
    min-height: 500px;
    margin: 10px;
    padding: 2px;
 
    border-right: 0.25px solid rgb(66, 63, 63);
    border-radius: 3%;
    box-shadow: 2px 1px 10px rgb(105, 102, 102);
    background-color: #ffffff;
   
  
}

.news-list a{
    
    text-decoration: none;
}


.news-list h2 a:link {
    
    color:var(--azul)
}

.news-list h2 a:visited{
    color: #e47e1f;

}

.news-list h2 a:hover{
    color: #ecea77;
}

.news-list h2 a:active{
  color: #000000;

   


}




.news-list img{
    margin-top: 15px;
    width: 250px;
    height: 200px;
    
    border-radius:2%;
    object-fit:inherit;

}

.news-list::-webkit-scrollbar{
  scroll-snap-type: none;
}

.news-list p {
    font-size: 0.77em;
    text-align: center;
    padding: 2px;
}